.commitment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 69px;

    &-img {
        width: 445px;
        height: 520px;
        border-radius: 8px;
        background: $DarkCyan;
    }

    &-title {
        @include heading-2 ($DarkGreyBlue);
        margin-bottom: 32px;
    }

    &-text {
        @include paragraphs ($DarkGreyBlue);
        width: 540px;
        opacity: 0.8;
    }
}

@media only screen and (max-width:1100px) {
    .commitment {

        &-img {
            width: 400px;
            height: 470px;
            object-fit: cover
        }

        &-title{
            @include heading-3 ($DarkCyan);
            line-height: 48px;
            margin-bottom: 30px;
        }

        &-text{
            width: 400px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width:920px) {
    .commitment{

        &-img{
            width: 281px;
            height: 470px;
        }
        &-text{
            width: 339px;
        }
    }
}


@media only screen and (max-width:760px){
    .commitment{
        gap: 40px;
    }
}

@media only screen and (max-width:700px){
    .commitment{
        flex-direction: column;
        align-items: center;

        &-img{
            margin-bottom: 48px;
            width: 87.2vw;
            height: auto;
        }

        &-info{
            text-align: center;
        }

        &-title{
            margin-bottom: 30px;
            font-size: 32px;
            line-height: 48px;
        }

        &-text{
            width: 87.2vw;
            font-size: 15px;
            line-height: 25px;
            height: 375px;
            overflow-y: auto;
            overflow-x: visible;
        }
    }
}
